.logo{
    background-image: url('https://cdn.vox-cdn.com/thumbor/WL3qnsRfwou9_WF6PR3MN3DDK1k=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/10440907/Thanos_MCU.jpg');
}
.upload_button {
    background-color: var(--twitter-color--);
    border: none;
    color: white;
    font-weight: 900;
    text-transform: inherit;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}
.blog_input {
    display: flex;
    padding: 20px;
}
.blog > form {
    display: flex;
    flex-direction: column;
}
.blog_input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}