.Navbaroption{
    display: flex;
    align-items:center;
    /*cursor-pointer*/
    cursor: pointer;
    font-family: "Playfair Display"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}
.Navbaroption > .MuiSvgIcon-root{
    padding: 20px;
}
.Navbaroption:hover{
    background-color: #e8f5fe ;
    border-radius: 30px;
    color: var(--twitter-color--);
    transition: color 100ms ease-out;
}
.Navbaroption > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}
.Navbaroption--active {
    color: var(--twitter-color--);
}
