.post_headertext {
    background-color: #e8f5fe;
    color: black;
}

.post_headertext > h1{
    color: black;
    margin-bottom: 10px;
    font-size: 15px;
}
.chat:hover {
    background-color: #e8f5fe ;
    border-radius: 30px;
    color: var(--twitter-color--);
    transition: color 100ms ease-out;
}
.favorite:hover {
    background-color: #e8f5fe ;
    border-radius: 30px;
    color: var(--twitter-color--);
    transition: color 100ms ease-out;
}
.publish:hover {
    background-color: #e8f5fe ;
    border-radius: 30px;
    color: var(--twitter-color--);
    transition: color 100ms ease-out;
}
.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-color--);
    padding-bottom: 10px;
}
.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.post_avatar {
    padding: 20px;
}
.post_header > h2 {
    font-size: 15px;
    margin-bottom: 5px;

}
.post_body {
    flex: 1;
    padding: 10px;
}
.post_badge {
    font-size: 14px;
    color: var(--twitter-color--);
}
.postheader_special {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}